.Cards {
  /* border: 1px solid white; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  flex-wrap: wrap;
  .cardContainer {
    /* border: 1px solid white; */
    .imgContainer {
      cursor: pointer;
      width: 11vw;
      /* height: 15vw; */
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      .cardFront {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateY(0deg);
        transition: all ease-in 0.2s;
        transition-delay: 0.2s;
        border-radius: 1vw;
      }
      .cardBack {
        transform: rotateY(90deg);
        transition: all ease-in 0.2s;
        border-radius: 1vw;
      }
    }
    .flipped {
      .cardFront {
        transform: rotateY(90deg);
        transition-delay: 0s;
      }
      .cardBack {
        transform: rotateY(0deg);
        transition-delay: 0.2s;
      }
    }
  }
}
